.nav{
  grid-area: nav-string;
}
.item{
  border-top: 1px solid #f2f2f6;
  cursor: pointer;
  transition: all 0.25s ease;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}
.item.active{
  border-left: 2px solid #b37ba4;
  color: rgb(182, 112, 112);
}