.nav{
  grid-area: nav-string;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
a.item{
  border-top: 1px solid #f2f6f5;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin: 0;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: grey;
  text-decoration: none;
}
a.item:focus{
  color: rgb(16, 156, 156);
}
.f_container{
  list-style: none;
}