.nav{
  grid-area: nav-string;
  display: flex;
  flex-direction: column;
}
a.item{
  border-top: 1px solid #f2f6f5;
  cursor: pointer;
  transition: all 0.25s ease;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  color: grey;
  text-decoration: none;
}
a.item:focus{
  color: rgb(16, 156, 156);
}