.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header-string header-string"
  "nav-string content-string";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 100%;
  margin: 0 auto;
}
.header{
  grid-area: header-string;
  background-color: grey;
}
.header img{
  width: 60px;
}
.nav{
  grid-area: nav-string;
  background-color: rgb(182, 112, 112);
}
.content{
  grid-area: content-string;
  background-color: rgb(250, 212, 212);
}
.cover-img{
  width: 100%;
}