.app-wrapper {
  -ms-grid-columns: 2fr 10px 10fr;
  -ms-grid-rows: 60px 10px 1fr;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'header-string header-string' 'nav-string content-string';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  margin: 0 auto;
  width: 100%;
}
.app-wrapper-content {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
  background-color: #f3f3f3;
  grid-area: content-string;
  padding: 20px;
}
